* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
}

body {
  height: 100vh;
  color: white;
}

body,
input,
button,
textarea {
  font: 400 1.8rem/1 "Nunito", sans-serif;
}

#logo {
  animation-delay: 50ms;
}

.location {
  animation-delay: 100ms;
}

main h1 {
  animation-delay: 150ms;
}

.visit p {
  animation-delay: 200ms;
}

.visit a {
  animation-delay: 250ms;
}
