#page-orphanage {
    display: flex;
    min-height: 100vh;
}

aside.sidebar {
    position: fixed;
    height: 100%;
    padding: 32px 24px;
    background: #15C3D6;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

aside.sidebar footer button {
    width: 48px;
    height: 48px;
    border:none;
    background: #12AFCB;
    border-radius: 1.6rem;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 0.2s;
}

aside.sidebar footer button:hover {
    background: #17D6EB;
}

.with-sidebar {
    padding-left:110px;
}

main {
    flex: 1;
}

/*DETAILS*/
.orphanage-details {
    width: 70rem;
    margin: 6.4rem auto;
    background: white;
    border: 1px solid #D3E2E5;

    border-radius: 2rem;
}

/* > img só vai pegar as img do primeiro nivel, ou seja, no nosso html não irá pegar as img dentro do button pq elas são de 3º nivel*/
.orphanage-details > img {
    width: 100%;
    height: 30rem;
    object-fit: cover; /*ajusta a imagem de todos os lados, p/ não deixa-la com aspecto de esticada*/
}

.images {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 1.6rem;
    margin: 16px 40px 0;

}

.images button {
    border: 0;
    background: none;
    border-radius: 2rem;

    height: 8.8rem;
    cursor: pointer;

    overflow: hidden;
    opacity: 0.6;
}

.images button:hover,
.images button.active {
    opacity: 1;
}

.images button img {
    width: 100%;
    height: 8.8rem;
    object-fit: cover;
}

.orphanage-details-content {
    padding: 8rem
}

.orphanage-details-content h1 {
    color: #4D6F80;
    font-size: 5.4rem;
    line-height: 1.5;
    margin-bottom: 0.8rem;
}

.orphanage-details-content p {
    line-height: 1.6;
    color: #5C8599;
    margin-top: 2.4rem;
}

/*MAP*/

.map-container {
    margin-top: 6.4rem;
    background: #e6f7fb;
    border: 1px solid #b3dae2;
    border-radius: 2rem;
}

#mapid {
    width: 100%;
    height: 28rem;
}

.map-container footer {
    padding: 2rem 0;

    text-align: center;
}

.map-container footer a {
    color: #0089a5;
    text-decoration: none;
}

.map-container .leaflet-container {
    border-bottom: 1px solid #dde3f0;
    border-radius: 2rem;
}

.orphanage-details-content hr {
    width: 100%;
    height: 1px;

    border: 0;

    background: #D3E2E6;

    margin: 6rem 0;

}

.orphanage-details-content h2 {
    font-size: 3.6rem;
    line-height: 1.5rem;
    color: #4d6f80
}

.open-details {
    margin-top: 2.4rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
}

.open-details div {
    padding: 3.2rem 2.4rem;
}

.open-details img {
    display: block;

    margin-bottom: 2rem;
}

.open-details .hour {
    background: linear-gradient(149.97deg, #E6F7FB 8.13%, #FFFFFF 92.67%);
    border: 1px solid #B3DAE2;
    border-radius: 20px;

    color: #5C8599;
}

.open-details .open-on-weekends {
    background: linear-gradient(154.15deg, #EDFFF6 7.85%, #FFFFFF 91.03%);
    border: 1px solid #A1E9C5;
    border-radius: 20px;
    
    color: #37C77F;
}

.primary-button {
    margin-top: 6.4rem;

    width: 100%;
    height: 6.4rem;
    border: 0;
    
    cursor: pointer;

    background: #3cdc8c;

    border-radius: 2rem;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color .2s;
}

.primary-button:hover {
    background: #36cf82;
}

.primary-button img {
    margin-right: 1.6rem;
    
}