#page-nursinghomes {
    width: 100%;
    height: 100%;

    display:flex;
}

#page-nursinghomes header img {
    transition-duration: 800ms;
}

#page-nursinghomes header img:hover {
    transform: translateY(-30px);
}

aside {
    width: clamp(24rem, 25vw, 44rem);
    background: linear-gradient(329.54deg, var(--color-primary)  0%, var(--color-primary-dark) 100%);
    padding: clamp(3rem, 5vw, 8rem);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

aside h2 {
    margin-top: 6.4rem;

    font: 800 clamp(2rem, 5vw, 3.6rem)/1 "Nunito", sans-serif;

}

aside h2 img{
    width: 3vw;
    height: 3vh;;
}

aside p {
    margin-top: 2.4rem;
    font: 400 1.6rem/1.5 "Nunito", sans-serif;
}

aside footer p {
    margin-top: .8rem;
}

#mapid { 
    width: 100%;
    height: 100%;

    animation-delay: 200ms;
}

a.create-nursinghome {
    position: absolute;
    right: 4rem;
    bottom: 4rem;
    z-index: 10;

    width: 6.4rem;
    height: 6.4rem;
    background: var(--color-primary-dark);
    border:0;
    border-radius: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

a.create-nursinghome:hover {
    background: var(--color-primary);
} 

.leaflet-popup-content-wrapper {
    background: rgba(255, 255, 255, 0.8) ;
}

.leaflet-popup-content {
    color: var(--color-primary-dark);
    margin: .8rem 1.2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leaflet-popup-content a {
    width: 4rem;
    height: 4rem;
    background: var(--color-primary);
    box-shadow: 17.2868px 27.6589px 41.4884px rgba(23, 142, 166, 0.16);
    border-radius: 12px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color .2s;
}

.leaflet-popup-content a:hover {
    background: var(--color-primary-lighter);
}

.leaflet-popup-tip {
    display: none;
}

.leaflet-container {
    font: 700 2rem/1.5 "Nunito", sans-serif;

    z-index: 5;
}