<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Página não encontrada</title>

    <link rel="icon" href="/images/logo-icon-sad-orange.png" />

    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/page-error.css" />


    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="page-not-found">
        <div class="error">
            <h1>Erro no banco de dados</h1>
            <p> Volte para <a onclick="history.back()" >página anterior</a> e tente novamente</p>
            <p> ou procure o administrador do sistema </p>
            <img  src="/images/feeling_sad.svg" alt="Erro no bando de dados" />
        </div>    
    </div>
  </body>
</html>
